.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 0.2rem solid var(--white-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 3rem;
    font-size: 1.8rem;
    color: var(--white-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 0;
    height: 0.3rem;
    background: var(--orange-color);
    transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.dropdown {
    position: relative;
}

.menu .dropdown-menu li a::after {
    content: none !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    min-width: 260px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 4px;
    z-index: 999;
    flex-direction: column;
}

.menu .dropdown-menu li a {
    display: block;
    padding: 12px 16px;
    color: var(--orange-color);
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.dropdown-menu li:last-child a {
    border-bottom: none;
}

.dropdown-menu li a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.menu-content .dropdown-menu {
  display: none !important;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}