.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content p {
    font-size: 2rem;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.intro-img {
    max-width: 100%;
    height: auto;

}

.second-content {
    max-width: 160rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 60vh;
    text-align: center;
}

.second-content p {
    margin-left: 10rem;
    margin-right: 10rem;
}

.second-text-content, .second-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 15rem;
}

.second-text-content h3 {
    margin-left: 10rem;
}

.second-text-content p {
    font-size: 2rem;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    margin-left: 10rem;
    max-width: 60rem;
}

.second-img {
    margin-top: -10rem;
    max-width: 30rem;
    height: auto;
}

.second-img img {
    width: 100%;
    height: auto;
}

.second-main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20rem;
}

.grid-one-content {
    max-width: 160rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.grid-main-heading h2 {
    margin-bottom: 1 rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1.5fr);
    gap: 3rem;
    counter-reset: gridcounter;
}

.grid h3 {
    font-size: 2rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 6rem;

}

.grid h3::before {
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 5rem;
    font-style: oblique;
    top: -1rem;
    left: 0;
}

.contact-form{
    margin-top: 20rem;
    grid-column: sapn 1;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style:oblique;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea{
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.5rem;

}

.form-group button {
    border: 0.5rem solid var(--orange-color);
    background: none;
    color: var(--orange-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--orange-color);
    color: var(--white-color);
}

.footer{
    text-align: center;
}

.footer a{
    color: var(--white-color);
}

.footer p{
    margin: 0;
    padding: 3rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 0.02rem;
  padding: 2rem;
  justify-content: right;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.slider::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 23px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.toggle-label {
  display: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
